body{
	font-family: Oswald,Acme,Trebichet MS,Arial,Tahoma,sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.bg_home{
	background-image: url('../Background/pill.jpg');
}
.bg_blue{
	background-color: #B8E7D9;
}
.bg_cyan{
	background-color: #68B4B0;
}
.bg_email{
	background-color: #68B4B0;
	padding: 10px;
}
.bg_gray{
	background-color: #DED9D9;
}
.Icon{
	padding-right: 5px;
	color: white;
	font-size: 20px;
}

/*Login*/
.bg_login{
	background-color: white;
}
.Email{
	padding: 30px;
}
.bg_modal{
	background-image: url('../Background/2.jpg');
}
/*Nav*/
ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/*Footer*/
.list_02 a:link,.list_02 a:visited{
	color: black;
	text-decoration: none;
}
.list_02 a:link,.list_02 a:hover{
	color: white;
	text-decoration: none;
}
.bg_footer{
	background-color: #DED9D9;
}
