body{
	font-family: Oswald,Acme,Trebichet MS,Arial,Tahoma,sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.bg_home{
	background-image: url('../Background/pill.jpg');
}
.bg_blue{
	background-color: #B8E7D9;
}
.bg_cyan{
	background-color: #68B4B0;
}
.bg_email{
	background-color: #68B4B0;
	padding: 10px;	
}
.bg_gray{
	background-color: #DED9D9;
}
.bg_sign{
	object-fit: cover;
	background-image: url('../Background/pill.jpg');
}
.Icon1{
	padding-right: 5px;
	color: white;
	font-size: 20px;
}
/*Shopping*/
.markMenu li{
    column-gap: 30px;
}
.Icon{
	font-size:35px;
}
.back_ground{
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	height: 190px;
 background-color: white;
}
.back_ground2{
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	height: 60px;
 background-color: #68B4B0;
}
.btn2:hover{
  background-color:#A4B6E6;
  color: white;
}
.btn2 {
  background-color:#68B4B0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px; 
}
.Product_Text{
	text-decoration: none;
	color: white;
}
/*Slide*/
.card1 img{
	border-radius: 100px;
	background-color: #68B4B0;
	object-fit: cover;
	width:100% ;
	height: 200px;
	object-fit: top;
}
.carousel-item{
	transition: transform 1s ease-in-out;
}
.Button {
	margin-bottom: 6px;
  padding-top: 2px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:black;
  background-color:#68B4B0;
  border: none;
  border-radius: 16px;
  box-shadow: 0 6px #999;
}
.Button:hover {
	background-color:#A4B6E6;
	box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.Button:active {
  background-color:#68B4B0;
  box-shadow: 0 6px #666;
  transform: translateY(2px);
}
/*Nav*/
ul,li{
	color: black;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.list_01 a:link,.list_01 a:visited{
	color: black;
	text-decoration: none;
}
.list_01 a:link,.list_01 a:hover{
	color: black;
	text-decoration: none;
}

/*Footer*/
.list_02 a:link,.list_02 a:visited{
	color: black;
	text-decoration: none;
}
.list_02 a:link,.list_02 a:hover{
	color: white;
	text-decoration: none;
}
.Social_Icon{
	font-size: 30px;
}
.bg_footer{
	background-color: #DED9D9;
}

/*Nav*/
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: lightblue;
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-dark{
	 --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}